.tasks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.userNotAnon {
  text-align: center;
  line-height: 1.5rem;
}

.loginContainer {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

.loginForm {
  flex-basis: 25%;
  padding: 0.3rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  line-height: 1.5rem;
}

.login, .password {
  display: flex; 
  flex-direction: column;
}

.redText {
  color: red;
}